@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.app-29 {
  box-sizing: border-box;
}

.app-29 .body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.app-29 h3 {
  margin-bottom: 0;
  text-align: center;
}

.app-29 small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.app-29 .fa-heart {
  color: red;
}

.app-29 .loveMe {
  height: 440px;
  width: 300px;
  background: url('https://static.wixstatic.com/media/349ee3_6b13df37f5dd4640ba43853a9542b008~mv2.jpg/v1/fill/w_348,h_502,al_c,lg_1,q_80,enc_auto/photo-1504215680853-026ed2a45def%20(1).jpg') no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.app-29 .loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
